* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navlogo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url(amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}
/* address boxes */
.loc1 {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

.loc2 {
  font-size: 1 rem;
  margin-left: 3px;
}
/* nav search bar  */

.addressicon {
  display: flex;
  align-items: center;
}

.navsearchbar {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 4px;
  background-color: pink;
}

.navsearchbar:hover {
  border: 2px solid orange;
}

.navselect {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border: none;
}

.navinput {
  width: 100%;
  border: none;
  font-size: 1rem;
}

.searchicon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}

.signin1 {
  font-size: 0.85rem;
}

.signin2 {
  font-weight: 600;
}

.return {
  font-size: 0.85rem;
}

.orders {
  font-weight: 600;
}

.navcart i {
  font-size: 1.7rem;
}

.navcart {
  font-weight: 600;
}
/* panel */
.panel {
  display: flex;
  background-color: #222f3d;
  color: white;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;
}

.panelopt p {
  display: inline;
  margin-left: 15px;
}

.panelopt {
  width: 70%;
  font-size: 0.85rem;
}

.paneldeals {
  font-size: 0.9rem;
  font-weight: bold;
}
/* .herosection */

.herosection {
  background-image: url(hero_image.jpg);
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.heromessage {
  background-color: whitesmoke;
  color: #0f1111;
  height: 40px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  margin-bottom: 25px;
}

.heromessage a {
  text-decoration: none;
  font-weight: 600;
  color: #007185;
}

/* shopsection */
.box {
  height: 400px;
  border: 2px solid black;
  width: 23%;
  background-color: white;
}

.shopsection {
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
